---
import * as dateFns from "date-fns";
import Layout from "../layouts/Layout.astro";
import Month from "../components/Month.astro";

const year = 2022;
---

<Layout title="PDF Planner">
  <div class="page">
    <header>
      <a name="year"><h1 class="year">{year}</h1></a>
    </header>
    <div class="months">
      {
        Array.from({ length: 12 }, (_, month) => (
          <a href={`#month-${month}`}>
            <Month big={false} year={year} month={month} />
          </a>
        ))
      }
    </div>
  </div>

  {
    Array.from({ length: 12 }, (_, month) => (
      <div class="page">
        <a name={`month-${month}`} />
        <h2>
          <a name={`month-${month}`} />
          <a href="#year">{year}</a>{" "}
          {dateFns.format(new Date(year, month), "MMMM")}
        </h2>
        <div>
          <h3>Projects:</h3>
        </div>
        <Month big year={year} month={month} />
      </div>
    ))
  }

  <div class="page">Goodbye :)</div>
</Layout>

<style>
  :root {
    --alt: #ddd;
  }

  .year {
    margin-bottom: 0;
  }

  .page {
    page-break-after: always;
  }

  .months {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
  }

  .months a {
    text-decoration: none;
  }
</style>
